body {
    background: #ddd;
}

#stage {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    border: 1px solid #aaa;
    overflow: scroll;
    background: #fff;
}

#stage table {
    border-collapse: collapse;
}

#stage td {
    border: 1px dotted #aaa;
}

#stage td img {
    width: 32px;
    height: 32px;
}

.navbar {
    border-radius: 0;
}

.footer {
    width: 100%;
    margin: 20px 0 0;
    background: #000;
}

#console {
    color: #fff;
    font-family: monospace;
    padding: 10px 0;
    margin: 0;
}