body {
    background: #ddd;
}

#stage {
    width: 100%;
    margin: 0 auto;
    overflow: scroll;
    background: #fff;
}

#stage table {
    border-collapse: collapse;
}

#stage tr {
    border: 0;
}

#stage td {
    border: 1px dotted #aaa;
}

#stage tr:first-child td {
    border-top: 0;
}

#stage td:first-child {
    border-left: 0;
}

#stage tr:last-child td {
    border-bottom: 0;
}

#stage td:last-child {
    border-right: 0;
}

#stage td img {
    width: 32px;
    height: 32px;
    display: inline-block;
}

.navbar {
    background: #fff;
    box-shadow: 0 0 5px #ccc;
}

.navbar a {
    color: #333;
}

.panel {
    box-shadow: 0 0 5px #ccc;
}

.footer {
    width: 100%;
    margin: 20px 0 0;
    background: #000;
}

#console {
    color: #fff;
    font-family: monospace;
    padding: 10px 0;
    margin: 0;
}