<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Tile Map Editor- Game Engine Development</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-flat.min.css">
    <link rel="stylesheet" href="css/map-editor.css">
    <script src="/lib/angularjs.min.js"></script>
</head>
<body ng-app="MapEditor">

<div class="navbar" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Project name</a>
        </div>

        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="#">File</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="container-fluid" id="contentContainer">
    <div class="row">
        <div class="col-md-9">
            <div class="panel panel-default" ng-controller="TileMap" id="stage">
                <table>
                    <tr ng-repeat="y in height">
                        <td ng-repeat="x in width"><img src="/img/clear.png"/></td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="col-md-3">
            <div class="panel panel-default" ng-controller="TilesetWidget">
                <div class="panel-body">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="footer" role="navigation" id="footerContainer">
    <div class="container-fluid">
        <p id="console">out: ></p>
    </div>
</div>

<script>
    var TileMap = function(width, height, tileWidth, tileHeight) {
        this.width = width;
        this.height = height;
        this.tileWidth = width;
        this.tileHeight = tileHeight;

        this.mouseDown = false;

        this.table = document.createElement('table');
        this.init();
    };

    TileMap.prototype.init = function() {
        for (var y = 0; y < this.height; y++) {
            var row = document.createElement('tr');

            for (var x = 0; x < this.width; x++) {
                var cell = document.createElement('td');
                cell.appendChild(document.createElement('img'));
                row.appendChild(cell);
            }

            this.table.appendChild(row);
        }
        /*
         goog.events.listen(this.table, goog.events.EventType.MOUSEENTER, this.onHover, true, this);
         goog.events.listen(this.table, goog.events.EventType.MOUSEDOWN, function(event) {
         event.preventDefault();

         this.mouseDown = !this.mouseDown;
         this.onHover(event);
         }, true, this);
         */
    };

    TileMap.prototype.onHover = function(event) {
        event.preventDefault();

        if (this.mouseDown) {
            var cell = event.target;
            cell.src = '/img/img-mushroom-red.png';
        }
    };

    var app = angular.module('MapEditor', []);

    app.controller('TilesetWidget', ['$scope', '$rootScope', function($scope, $rootScope) {
    }]);

    app.controller('TileMap', ['$scope', '$rootScope', function($scope, $rootScope) {
//        var stage = new TileMap(200, 50, 64, 64);
//        var stageEl = document.getElementById('stage');
//
//        stageEl.style.height = (window.innerHeight - contentContainer.offsetTop - footerContainer.offsetHeight - (footerContainer.offsetTop - contentContainer.offsetHeight - contentContainer.offsetTop)) + 'px';
//        stage.bindTo(document.getElementById('stage'));

        $scope._width = 100;
        $scope._height = 25;

        $scope.width = [];
        $scope.height = [];

        var init = function() {
            var stageEl = document.getElementById('stage');
            stageEl.style.height = (window.innerHeight - contentContainer.offsetTop - footerContainer.offsetHeight - (footerContainer.offsetTop - contentContainer.offsetHeight - contentContainer.offsetTop)) + 'px';

            for (var x = 0; x < $scope._width; x++) {
                $scope.width.push(x);
            }

            for (var y = 0; y < $scope._height; y++) {
                $scope.height.push(y);
            }
        };

        init();
    }]);
</script>
</body>
</html>
