<!doctype html>
<html lang="en" ng-app="MapEditor">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Tile Map Editor- Game Engine Development</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-flat.min.css">
    <link rel="stylesheet" href="css/map-editor.css">
    <script src="/lib/angularjs.min.js"></script>
    <script src="/lib/ui-bootstrap-tpls-0.11.0.min.js"></script>
</head>
<body ng-controller="TileMap">

<div class="navbar" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Project name</a>
        </div>

        <div>
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a class="dropdown-toggle" ng-click="showDropdown = !showDropdown"><u>F</u>ile</a>
                    <ul class="dropdown-menu" ui-show="showDropdown" role="menu" aria-labelledby="dLabel">
                        <li><a ng-click="onNewDialog()">New</a></li>
                        <li><a ng-click="onSaveDialog()">Save</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="container-fluid" id="contentContainer">
    <div class="row">
        <div class="col-md-9">
            <div class="panel panel-default" id="stage">
                <div ng-repeat="layer in layers">
                    <elt-tilemap-stage
                            map-cols="width" map-rows="height" map-grid="layer.grid"
                            cell-img="cellImg" cell-type="previewTileType" cell-index="cellIndex"></elt-tilemap-stage>
                </div>
                <!--<table ng-mousedown="onPreClick(true, $event)" ng-mouseup="onPreClick(false, $event)"-->
                <!--ng-mousemove="onClick($event)">-->
                <!--<tr ng-repeat="(index, value) in cells">-->
                <!--<td ng-repeat="(key, x) in value track by key">-->
                <!--<img ng-src="{{x.img}}" data-id="{{x.id}}" data-x="{{key}}" data-y="{{index}}"/>-->
                <!--</td>-->
                <!--</tr>-->
                <!--</table>-->
            </div>
        </div>

        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="tilesetPreview">
                        <canvas id="previewCanvas" ng-mousemove="onHoverPreview($event)"
                                ng-click="onSelectPreview($event)"></canvas>
                    </div>

                    <button class="btn btn-xs btn-primary" ng-click="onPreNewTileset('tilesetInputEl')">New Tileset
                    </button>
                    <input type="file" id="tilesetInputEl" onchange="angular.element(this).scope().onNewTileset(event)"
                           class="hidden"/>

                    <div ng-show="previewImg.src">
                        <hr/>
                        <p><strong>Filename:</strong> {{previewImg.name}}</p>

                        <p><strong>Margin:</strong> <input type="number" ng-model="previewTile.margin"/></p>

                        <p><strong>Spacing:</strong> <input type="number" ng-model="previewTile.spacing"/></p>

                        <p><strong>Tile Width:</strong> <input type="number" ng-model="previewTile.width"/></p>

                        <p><strong>Tile Height:</strong> <input type="number" ng-model="previewTile.height"/></p>

                        <p><strong>Tile Type:</strong> <input type="number" ng-model="previewTileType"/></p>

                        <p>
                            <button class="btn btn-default btn-xs" ng-click="onUpdateTileset()">Update</button>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="footer" role="navigation" id="footerContainer">
    <div class="container-fluid">
        <p id="console">Map ({{width}}x{{height}})</p>
    </div>
</div>

<script type="text/ng-template" id="NewMapModalContent.html">
    <div class="modal-header">
        <h3 class="modal-title">New Map</h3>
    </div>

    <div class="modal-body">
        <div class="form-inline" role="form">
            <div class="form-group">
                <h4>Map size (in tiles)</h4>
            </div>

            <div class="form-group">
                <div class="input-group">
                    <input class="form-control" type="number" ng-model="width">
                </div>
            </div>

            <div class="form-group">
                <div class="input-group">
                    <input class="form-control" type="number" ng-model="height">
                </div>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok(width, height)">OK</button>
        <button class="btn btn-default" ng-click="cancel()">Cancel</button>
    </div>
</script>

<script type="text/ng-template" id="SaveMapModalContent.html">
    <div class="modal-header">
        <h3 class="modal-title">Save Map</h3>
    </div>

    <div class="modal-body">
        <textarea ng-model="content" class="codeTextArea"></textarea>
    </div>

    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()">OK</button>
    </div>
</script>

<script>
var Layer = function(cols, rows, index) {
    this.cols = cols;
    this.rows = rows;
    this.index = index;

    this.grid = [];
};

var app = angular.module('MapEditor', ['ui.bootstrap']);

app.directive('eltTilemapStage', function() {
    return {
        restrict: 'E',
        replace: true,
        template: '<canvas></canvas>',
        controller: function($scope, $element) {
            $scope.tileWidth = $scope.tileWidth || 32;
            $scope.tileHeight = $scope.tileHeight || 32;
            $scope.mapCols = $scope.mapCols || 10;
            $scope.mapRows = $scope.mapRows || 10;
            $scope.moveSensitivity = $scope.moveSensitivity || 5;
            $scope.mouseDown = false;

            var moveTimer;
            var canvas = $element[0];
            canvas.width = $scope.tileWidth * $scope.mapCols;
            canvas.height = $scope.tileHeight * $scope.mapRows;

            var ctx = canvas.getContext('2d');
            var img = new Image();
            img.width = $scope.tileWidth;
            img.height = $scope.tileHeight;

            var getTile = function(worldX, worldY) {
                var pos = {
                    x: parseInt(worldX / $scope.tileWidth, 10),
                    y: parseInt(worldY / $scope.tileHeight, 10)
                };

                pos.x = parseInt((worldX - pos.x) / $scope.tileWidth, 10);
                pos.y = parseInt((worldY - pos.y) / $scope.tileHeight, 10);

                return pos;
            };

            var drawGrid = function() {
                var _x = 0;
                var _y = 0;

                ctx.strokeStyle = 'rgba(10, 10, 10, 0.25)';

                for (var x = 1; x < $scope.mapCols; x++) {
                    _x = x * $scope.tileWidth + x;
                    ctx.moveTo(_x, 0);
                    ctx.lineTo(_x, canvas.height);
                }

                for (var y = 1; y < $scope.mapRows; y++) {
                    _y = y * $scope.tileHeight + y;
                    ctx.moveTo(0, _y);
                    ctx.lineTo(canvas.width, _y);
                }

                ctx.stroke();
            };

            var drawCell = function(worldX, worldY) {
                var pos = getTile(worldX, worldY);
                var i = pos.y * $scope.mapCols + pos.x;

                img.src = $scope.cellImg;
                ctx.drawImage(img, pos.x * $scope.tileWidth + pos.x, pos.y * $scope.tileHeight + pos.y, $scope.tileWidth, $scope.tileHeight);

                $scope.mapGrid[i]['index'] = $scope.cellIndex;
                $scope.mapGrid[i]['type'] = $scope.cellType;
            };

            canvas.addEventListener('mousedown', function(event) {
                drawCell(event.offsetX, event.offsetY);
                $scope.mouseDown = true;
            }, false);

            canvas.addEventListener('click', function(event) {
                $scope.mouseDown = false;
            }, false);

            canvas.addEventListener('mousemove', function(event) {
                event.preventDefault();

                if ($scope.mouseDown) {
                    clearTimeout(moveTimer);
                    moveTimer = setTimeout(function() {
                        drawCell(event.offsetX, event.offsetY);
                    }, $scope.moveSensitivity);
                }
            }, false);

            var init = function() {
                for (var i = 0, len = $scope.mapCols * $scope.mapRows; i < len; i++) {
                    $scope.mapGrid[i] = {
                        type: 0,
                        index: -1
                    };
                }

                drawGrid();
            };

            init();
        },
        scope: {
            tileWidth: '=?',
            tileHeight: '=?',
            mapGrid: '=',
            mapCols: '=',
            mapRows: '=',
            cellImg: '=',
            cellIndex: '=',
            cellType: '='
        }
    };
});

app.controller('TileMap', ['$scope', '$modal', '$rootScope', function($scope, $modal, $rootScope) {
    $scope.width = 42;
    $scope.height = 23;
//    $scope.cells = [];


    $scope.layers = [
        new Layer($scope.width, $scope.height, 1)
    ];


    $scope.previewImg = {};
    $scope.tiles = [];
    $scope.previewTileType = 0;

    $scope.previewMarker = {
        hoverX: 0,
        hoverY: 0,
        setX: 0,
        setY: 0,
        hoverLineStyle: '#c00',
        setLineStyle: '#000',
        setFillStyle: 'rgba(250, 250, 250, 0.75)',
        ctx: null
    };

    $scope.previewTile = {
        margin: 0,
        spacing: 2,
        width: 32,
        height: 32,
        totalTiles: {
            width: 0,
            height: 0
        }
    };

    $scope.mouseDown = false;
    $scope.cellImg = '/img/clear.png';
    $scope.cellType = 1;
    $scope.cellIndex = 0;

//    $scope.onPreClick = function(mouseDown, $event) {
//        $scope.mouseDown = mouseDown;
//        $scope.onClick($event);
//    };

//    $scope.onClick = function($event) {
//        $event.preventDefault();
//        var target = $event.target;

//        if ($scope.mouseDown && $scope.previewImg.src && target.nodeName === 'IMG') {
//            var x = target.getAttribute('data-x');
//            var y = target.getAttribute('data-y');

//            $scope.cells[y][x]['img'] = $scope.previewImg.src;
//            $scope.cells[y][x]['type'] = $scope.previewTileType;
//        }
//    };

    $scope.onNew = function(width, height) {
        $scope.width = width;
        $scope.height = height;

        init();
    };

    $scope.onPreNewTileset = function(inputElId) {
        document.getElementById(inputElId).click();
    };

    $scope.onHoverPreview = function($event) {
        var x = $event.offsetX;
        var y = $event.offsetY;
        $scope.previewMarker.hoverX = parseInt((x - $scope.previewTile.margin - parseInt(x / $scope.previewTile.width, 10)) / $scope.previewTile.width, 10);
        $scope.previewMarker.hoverY = parseInt((y - $scope.previewTile.margin - parseInt(y / $scope.previewTile.height, 10)) / $scope.previewTile.height, 10);

        if ($scope.previewMarker.ctx != null) {
            $scope.previewMarker.ctx.clearRect(0, 0, $scope.previewImg.width, $scope.previewImg.height);
            $scope.previewMarker.ctx.drawImage($scope.previewImg.img, 0, 0);
            $scope.previewMarker.ctx.lineWidth = $scope.previewTile.spacing;
            $scope.previewMarker.ctx.strokeStyle = $scope.previewMarker.setLineStyle;
            $scope.previewMarker.ctx.fillStyle = $scope.previewMarker.setFillStyle;
            $scope.previewMarker.ctx.beginPath();

            $scope.previewMarker.ctx.fillRect(
                    $scope.previewMarker.setX * $scope.previewTile.width + $scope.previewMarker.setX * $scope.previewTile.spacing + $scope.previewTile.margin,
                    $scope.previewMarker.setY * $scope.previewTile.height + $scope.previewMarker.setY * $scope.previewTile.spacing + $scope.previewTile.margin,
                    $scope.previewTile.width,
                    $scope.previewTile.height);

            $scope.previewMarker.ctx.rect(
                    $scope.previewMarker.setX * $scope.previewTile.width + $scope.previewMarker.setX * $scope.previewTile.spacing + $scope.previewTile.margin,
                    $scope.previewMarker.setY * $scope.previewTile.height + $scope.previewMarker.setY * $scope.previewTile.spacing + $scope.previewTile.margin,
                    $scope.previewTile.width,
                    $scope.previewTile.height);

            $scope.previewMarker.ctx.strokeStyle = $scope.previewMarker.hoverLineStyle;
            $scope.previewMarker.ctx.beginPath();

            $scope.previewMarker.ctx.rect(
                    $scope.previewMarker.hoverX * $scope.previewTile.width + $scope.previewMarker.hoverX * $scope.previewTile.spacing + $scope.previewTile.margin,
                    $scope.previewMarker.hoverY * $scope.previewTile.height + $scope.previewMarker.hoverY * $scope.previewTile.spacing + $scope.previewTile.margin,
                    $scope.previewTile.width,
                    $scope.previewTile.height);

            $scope.previewMarker.ctx.stroke();
        }
    };

    $scope.onSelectPreview = function($event) {
        var x = $event.offsetX;
        var y = $event.offsetY;
        var tileX = parseInt((x - $scope.previewTile.margin - parseInt(x / $scope.previewTile.width, 10)) / $scope.previewTile.width, 10);
        var tileY = parseInt((y - $scope.previewTile.margin - parseInt(y / $scope.previewTile.height, 10)) / $scope.previewTile.height, 10);
        var i = tileY * $scope.previewTile.totalTiles.width + tileX;

        $scope.previewMarker.setX = parseInt((x - $scope.previewTile.margin - parseInt(x / $scope.previewTile.width, 10)) / $scope.previewTile.width, 10);
        $scope.previewMarker.setY = parseInt((y - $scope.previewTile.margin - parseInt(y / $scope.previewTile.height, 10)) / $scope.previewTile.height, 10);

        $scope.previewImg.src = $scope.tiles[i].src;
        $scope.cellImg = $scope.previewImg.src;
        $scope.cellType = $scope.previewTileType;
        $scope.cellIndex = i;
    };

    $scope.onNewTileset = function(event) {
        $scope.previewImg = event.target.files[0];

        var _canvas = document.getElementById('previewCanvas');
        var _ctx = null;

        var getDataUrl = function(file, cb) {
            var reader = new FileReader();

            reader.onload = function(event) {
                return cb(this.result);
            };

            reader.readAsDataURL($scope.previewImg);
        };

        var populateTiles = function() {
            $scope.previewTile.totalTiles.width = parseInt($scope.previewImg.img.width / $scope.previewTile.width, 10);
            $scope.previewTile.totalTiles.height = parseInt($scope.previewImg.img.height / $scope.previewTile.height, 10);

            var tileCanvas = document.createElement('canvas');
            tileCanvas.width = $scope.previewTile.width;
            tileCanvas.height = $scope.previewTile.height;

            var tileCtx = tileCanvas.getContext('2d');
            var x = 0;
            var y = 0;

            for (var i = 0, len = $scope.previewTile.totalTiles.width * $scope.previewTile.totalTiles.height; i < len; i++) {
                x = i % $scope.previewTile.totalTiles.width;
                y = parseInt(i / $scope.previewTile.totalTiles.width);

                tileCtx.drawImage($scope.previewImg.img,
                        x * $scope.previewTile.width + $scope.previewTile.margin + x * $scope.previewTile.spacing,
                        y * $scope.previewTile.height + $scope.previewTile.margin + y * $scope.previewTile.spacing,
                        $scope.previewTile.width, $scope.previewTile.height,
                        0, 0, tileCanvas.width, tileCanvas.height);

                $scope.tiles[i] = {
                    type: 0,
                    src: tileCanvas.toDataURL('image/png'),
                    atlas: [
                        x * $scope.previewTile.width + $scope.previewTile.margin + x * $scope.previewTile.spacing,
                        y * $scope.previewTile.height + $scope.previewTile.margin + y * $scope.previewTile.spacing
                    ]
                };
            }

            $scope.previewImg.src = $scope.tiles[0].src;
        };

        var onDataUrlLoaded = function(dataUrl) {
            $scope.previewImg.img = new Image();
            $scope.previewImg.img.src = dataUrl;

            $scope.previewImg.src = dataUrl;

            _canvas.width = $scope.previewImg.img.width;
            _canvas.height = $scope.previewImg.img.height;

            _ctx = _canvas.getContext('2d');
            _ctx.webkitImageSmoothingEnabled = false;

            _ctx.drawImage($scope.previewImg.img, 0, 0);
            $scope.previewMarker.ctx = _ctx;

            populateTiles();
        };

        getDataUrl($scope.previewImg, onDataUrlLoaded);
    };

    $scope.onUpdateTileset = function() {
        alert('TODO');
    };

    $scope.onSaveDialog = function() {
        $modal.open({
            templateUrl: 'SaveMapModalContent.html',
            controller: 'ModalSaveCtrl',
            resolve: {
                content: function() {
                    return $scope;
                }
            }
        });
    };

    $scope.onNewDialog = function() {
        var modalInstance = $modal.open({
            templateUrl: 'NewMapModalContent.html',
            controller: 'ModalNewCtrl'
        });

        modalInstance.result.then(function(data) {
            $scope.onNew(data.width, data.height);
        }, function() {
        });
    };

    var init = function() {
        $scope.layers = [
            new Layer($scope.width, $scope.height, 1)
        ];

        var stageEl = document.getElementById('stage');
        stageEl.style.height = (window.innerHeight - contentContainer.offsetTop - footerContainer.offsetHeight - (footerContainer.offsetTop - contentContainer.offsetHeight - contentContainer.offsetTop)) + 'px';
    };

    init();
}]);

app.controller('ModalNewCtrl', ['$scope', '$modalInstance', function($scope, $modalInstance) {
    $scope.width = 42;
    $scope.height = 23;

    $scope.ok = function(width, height) {
        $modalInstance.close({width: width, height: height});
    };

    $scope.cancel = function() {
        $modalInstance.dismiss('cancel');
    };
}]);

app.controller('ModalSaveCtrl', ['$scope', '$modalInstance', 'content', function($scope, $modalInstance, content) {
    $scope.content = 'Loading';

    var layers = content.layers;

    var out = {
        layers: [],
        width: content.width,
        height: content.height
    };

    for (var i = 0, len = layers.length; i < len; i++) {
        out.layers[i] = {
            width: content.width,
            height: content.height,
            tileWidth: content.previewTile.width,
            tileHeight: content.previewTile.height,
            img: content.previewImg.name,
            atlas: [],
            tiles: [],
            types: []
        };

        for (var w = 0; w < layers[i].grid.length; w++) {
            out.layers[i].tiles[w] = layers[i].grid[w].index;
            out.layers[i].types[w] = layers[i].grid[w].type;
        }

        for (var z = 0; z < content.tiles.length; z++) {
            out.layers[i].atlas[z] = content.tiles[z].atlas;
        }
    }

    $scope.content = JSON.stringify(out);

    $scope.ok = function() {
        $modalInstance.close();
    };
}]);
</script>
</body>
</html>
